# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
docs/*.mp3
/docs/Reference/
/tools/ppocr-v4/
/tools/ppocr-v5/
/tools/ppocr-v6/
/tools/ppocr-v6.zip
/tools/.model_cache/
/docs/ocr_dict/
/docs/ocr-models/
